/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: hsl(171, 100%, 41%);
}

.is-justify-centered {
  justify-content: center;
}
.is-family-cursive {
  font-family: cursive;
}

.is-width-100 {
  width: 100%;
}

.is-items-container-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.is-marginless-top {
  margin-top: 0 !important;
}

.is-marginless-bottom {
  margin-bottom: 0 !important;
}
